

<%- include('include/header_landingpage.ejs') %> <!-- GETS THE HEADER -->

  <div class="content">
    <!-- <div>
      <section id="hero">
        <h1>Elgemo</h1>
      </section>
    </div> -->
    
    <div>
      <form id="form" action="/frontpage/search" method="GET">
        <div class="wrapper">
          
            <input type="text" form="form" class="input" name="search" id="search" placeholder="Search any Movies you want">
          
        <div class="searchbtn"><i class="fas fa-search"></i></div>
        </div>
      </form>
    </div>
  </div>
    <script>
      let bar = document.querySelector('.bars'),
      navItem = document.querySelector('.nav-items');

      bar.addEventListener('click', () => {
      navItem.classList.toggle('active');
      })

    </script>
</body>

</html>