<title>Profile | Elgemo</title>
    
    <%- include('include/header.ejs') %> <!-- GETS THE HEADER -->

    <div class="top-content">
        <h3>Saved Movies</h3>
    </div>
    <main id="main">

    </main>

   <script src="js/frontpagejs.js"></script>
</body>
</html>